body {
  background: #c0c0c0;
  font-family: Tahoma, "Trebuchet MS", Arial, sans-serif;
  margin: 12px;
  color: #111;
  font-size: 12px;
}

.frame {
  width: 980px;
  margin: 10px auto;
  border: 2px solid #000;
  background: linear-gradient(#e0e0e0, #cfcfcf);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.title {
  background: linear-gradient(#4b6ea6, #33507a);
  color: #fff;
  padding: 6px 8px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Verdana", "Tahoma";
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar {
  padding: 6px;
  background: #d6d6d6;
  border-bottom: 1px solid #888;
  display: flex;
  gap: 6px;
  align-items: center;
}

.bevel {
  border: 2px solid #fff;
  box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(#f5f5f5, #dcdcdc);
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}

.bevel:active {
  transform: translateY(1px);
}

.panel {
  padding: 10px;
  display: flex;
  gap: 12px;
}

.left {
  width: 640px;
  background: #efefef;
  border: 1px solid #888;
  padding: 8px;
  box-shadow: inset 0 0 0 1px #fff;
}

.right {
  width: 300px;
  background: #efefef;
  border: 1px solid #888;
  padding: 8px;
  box-shadow: inset 0 0 0 1px #fff;
}

table.grid {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

table.grid th,
table.grid td {
  border: 1px solid #aaa;
  padding: 4px;
  background: linear-gradient(#fff, #eee);
}

table.grid th {
  background: linear-gradient(#dcdcdc, #cfcfcf);
  font-weight: bold;
}

.small {
  font-size: 11px;
}

.muted {
  color: #444;
  font-size: 11px;
}

.mini {
  padding: 2px 6px;
  font-size: 11px;
  border: 2px outset #eee;
  background: #eee;
  cursor: pointer;
}

.mini:active {
  transform: translateY(1px);
}

.totals {
  padding: 8px;
  border: 2px ridge #808080;
  background: #f9f9f9;
  margin-top: 10px;
  font-size: 12px;
}

.input-old {
  padding: 3px;
  border: 1px solid #888;
  background: #fff;
  font-size: 12px;
  box-sizing: border-box;
}

.canvas-frame {
  border: 2px inset #cfcfcf;
  background: #e9e9e9;
  padding: 6px;
  margin-top: 10px;
}

.statusbar {
  padding: 6px;
  background: #d6d6d6;
  border-top: 1px solid #888;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

select.input-old {
  padding: 3px;
  font-size: 12px;
}

input[type="date"] {
  width: 100%;
}

input[type="number"] {
  width: 100%;
}

/**
  * @section Buttons
  * inspired from: Catalin Rosu (http://www.red-team-design.com/just-another-awesome-css3-buttons)
  */
  .ym-button,
  .ym-form button,
  .ym-form input[type="button"],
  .ym-form input[type="reset"],
  .ym-form input[type="submit"] {
    display: inline-block;
    white-space: nowrap;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background: linear-gradient("to bottom", #eeeeee, #cccccc);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC');
    zoom: 1;
    border: 1px solid #777;
    border-radius: .2em;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #333 !important;
    cursor: pointer;
    font: normal 1em/2em Arial, Helvetica;
    margin: 0 0.75em 0 0;
    padding: 0 1.5em;
    overflow: visible;
    /* removes extra side spacing in IE */
    text-decoration: none !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }
  .ym-button:hover,
  .ym-form button:hover,
  .ym-form input[type="button"]:hover,
  .ym-form input[type="reset"]:hover,
  .ym-form input[type="submit"]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #fafafa, #dddddd);
    background: -moz-linear-gradient(top, #fafafa, #dddddd);
    background: -ms-linear-gradient(top, #fafafa, #dddddd);
    background: linear-gradient("to bottom", #fafafa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FFFAFAFA', endColorstr='#FFDDDDDD');
    zoom: 1;
  }
  .ym-button:active,
  .ym-form button:active,
  .ym-form input[type="button"]:active,
  .ym-form input[type="reset"]:active,
  .ym-form input[type="submit"]:active {
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(top, #cccccc, #bbbbbb);
    background: -moz-linear-gradient(top, #cccccc, #bbbbbb);
    background: -ms-linear-gradient(top, #cccccc, #bbbbbb);
    background: linear-gradient("to bottom", #cccccc, #bbbbbb);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FFCCCCCC', endColorstr='#FFBBBBBB');
    zoom: 1;
    position: relative;
    top: 1px;
  }
  .ym-button:focus,
  .ym-form button:focus,
  .ym-form input[type="button"]:focus,
  .ym-form input[type="reset"]:focus,
  .ym-form input[type="submit"]:focus {
    outline: 0;
    background: #fafafa;
  }

  /* Button size-scaling classes */
  .ym-button {
    /* 21px */
    /* 18px */
    /* 12px */
    /* 10px */
  }
  .ym-button.ym-xlarge {
    font-size: 1.5em;
  }
  .ym-button.ym-large {
    font-size: 1.2857em;
  }
  .ym-button.ym-small {
    font-size: 0.8571em;
  }
  .ym-button.ym-xsmall {
    font-size: 0.7143em;
  }

  /* Button color scheme: primary */
  .ym-button.ym-primary,
  .ym-form button.ym-primary,
  .ym-form input[type="button"].ym-primary,
  .ym-form input[type="reset"].ym-primary,
  .ym-form input[type="submit"].ym-primary {
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8888ee), color-stop(100%, #6666cc));
    background: -webkit-linear-gradient(top, #8888ee, #6666cc);
    background: -moz-linear-gradient(top, #8888ee, #6666cc);
    background: -ms-linear-gradient(top, #8888ee, #6666cc);
    background: linear-gradient("to bottom", #8888ee, #6666cc);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FF8888EE', endColorstr='#FF6666CC');
    zoom: 1;
    border: 1px solid #007;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-primary:hover,
  .ym-form button.ym-primary:hover,
  .ym-form input[type="button"].ym-primary:hover,
  .ym-form input[type="reset"].ym-primary:hover,
  .ym-form input[type="submit"].ym-primary:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8888ff), color-stop(100%, #6666dd));
    background: -webkit-linear-gradient(top, #8888ff, #6666dd);
    background: -moz-linear-gradient(top, #8888ff, #6666dd);
    background: -ms-linear-gradient(top, #8888ff, #6666dd);
    background: linear-gradient("to bottom", #8888ff, #6666dd);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FF8888FF', endColorstr='#FF6666DD');
    zoom: 1;
  }
  .ym-button.ym-primary:active,
  .ym-form button.ym-primary:active,
  .ym-form input[type="button"].ym-primary:active,
  .ym-form input[type="reset"].ym-primary:active,
  .ym-form input[type="submit"].ym-primary:active {
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8888cc), color-stop(100%, #6666aa));
    background: -webkit-linear-gradient(top, #8888cc, #6666aa);
    background: -moz-linear-gradient(top, #8888cc, #6666aa);
    background: -ms-linear-gradient(top, #8888cc, #6666aa);
    background: linear-gradient("to bottom", #8888cc, #6666aa);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FF8888CC', endColorstr='#FF6666AA');
    zoom: 1;
  }

@media print {
  .bevel,
  .mini,
  .toolbar {
    display: none;
  }
  .frame {
    border: none;
    box-shadow: none;
  }
  body {
    background: #fff;
  }
}
