:root {
  --color-black: #1a1c2c;
  --color-maroon: #5d275d;
  --color-red: #b13e53;
  --color-orange: #ef7d57;
  --color-yellow: #ffcd75;
  --color-light-yellow: #ffe3b3;
  --color-lime: #a7f070;
  --color-green: #38b764;
  --color-teal: #257179;
  --color-navy: #29366f;
  --color-blue: #3b5dc9;
  --color-sky: #41a6f6;
  --color-cyan: #73eff7;
  --color-white: #f4f4f4;
  --color-white-grey: #dbe5eb;
  --color-light-grey: #94b0c2;
  --color-grey: #566c86;
  --color-dark-grey: #333c57;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
  width: 100vw;
  image-rendering: crisp-edges;

  font-size: 16px;
  font-family: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  overflow: hidden;
  color: var(--color-black);
}

html, body, label {
  cursor: url('img/cursor_default.png'), auto;
}

p, h1, h2, h3, h4, h5, h6, code, pre, li {
  cursor: url('img/cursor_text.png'), text;
}

a, a > code {
  cursor: url('img/cursor_pointer.png'), pointer;
  color: var(--color-blue);
}

a:visited, a:visited > code {
  color: var(--color-navy);
}

code.hljs {
  font-size: .9em;
  margin: 2em 0;
}

code:not(.hljs) {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  background: var(--color-white-grey);
  padding: .2em .4em;
  font-size: 85%;
  white-space: break-spaces;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1.4em 0 .4em;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a:visited,
h3 > a:visited,
h4 > a:visited,
h5 > a:visited,
h6 > a:visited {
  color: inherit;
}

hr {
  border: 0;
  border-top: 2px solid var(--color-grey);
  margin: 2em 0;
}

#background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
}

#background {
  width: calc(100vw + 32px);
  height: calc(100dvh + 32px);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('bg.png');
}

#background.animated {
  animation: slide 2s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate(0, 0);
  }
  100%{
    transform: translate(-32px, -32px);
  }
}

.layout-dock {
  display: flex;
  justify-content: flex-end;
  order: 2;
  margin-top: 32px;
}

.layout-content {
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.layout-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.button {
  border-image-source: url('img/button_border.png');
  border-image-width: 2px;
  border-image-slice: 2;
  border-image-repeat: stretch;
  padding: 8px 8px;
  background: var(--color-grey);
}

.button:active {
  border-image-source: url('img/button_border_inset.png');
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 100px;
  user-select: none;
}

.menu-item .button {
  padding: 2px 12px;
  height: 28px;
  display: block;
  white-space: nowrap;
}

.menu-item summary {
  list-style-type: none;
  position: relative;
  cursor: url('img/cursor_default.png'), auto;
}

.menu-item summary::-webkit-details-marker {
  display: none;
}

.menu-item summary::after {
  content: url('img/right_arrow_inset.png');
  position: absolute;
  top: 4px;
  right: 8px;
}

.menu .submenu,
.submenu .subsubmenu {
  position: absolute;
  left: 100%;
  top: 0;
}

.wide-screen-dock,
.narrow-screen-dock {
  border: 4px;
  border-image-source: url('img/sidebar_border.png');
  border-image-width: 4px;
  border-image-slice: 4;
  border-image-repeat: round;
  padding: 2px 4px 4px 2px;
}

.narrow-screen-dock summary::-webkit-details-marker {
  display: none;
}

.dock {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style-type: none;
  user-select: none;
}

.dock > li {
  padding: 0;
  width: 64px;
  height: 64px;
  flex: 0 0 auto;
  position: relative;
}

.dock > li:last-child {
  margin-bottom: 0;
}

.dock-button {
  width: 64px;
  height: 64px;
  display: inline-block;
  position: relative;
  cursor: url('img/cursor_pointer.png'), pointer;
}

.dock .tooltip {
  position: absolute;
  left: 72px;
  top: 16px;
  background: var(--color-light-yellow);
  white-space: nowrap;
  font-size: 16px;
  line-height: 16px;
  display: none;

  border: 4px;
  border-image-source: url('img/sidebar_border.png');
  border-image-width: 4px;
  border-image-slice: 4;
  border-image-repeat: round;
  padding: 6px 22px 8px 6px;
}

.dock .tooltip::after {
  content: url('img/right_arrow.png');
  position: absolute;
  top: 7px;
  right: 8px;
}

.dock > li:hover .tooltip {
  display: block;
}

a.dock-button:active {
  background-size: 0 0, auto;
}


.window {
  contain: layout style;
  border: 32px;
  border-image-source: url('img/document-window-border.png');
  border-image-width: 32px;
  border-image-slice: 32;
  border-image-repeat: round;
  position: relative;
}

.window-title {
  position: absolute;
  top: 4px;
  left: 8px;
  right: 10px;
  color: var(--color-white);
  line-height: 26px;
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  display: flex;
}

.window-title img {
  flex: 0 0 auto;
}

.window-title span {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.window-content {
  background: var(--color-white);
  margin: 10px 10px 10px 10px;
  overflow: auto;
}

.window.minimal {
  border-image-source: url('img/minimal_window_border.png');
}

.window.minimal .window-content {
  margin: 32px 4px 4px 2px;
}

#content-window {
  flex: 1;
  margin-top: 32px;
}

#content-window .window-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100dvh - 106px);
  padding: 15px;
}

#content-window .window-content > :first-child {
  margin-top: 0;
}

label:has(input[type="checkbox"])::before {
  content: url('img/checkbox_empty.png');
  position: relative;
  top: 2px;
}

label:has(input[type="checkbox"]:checked)::before {
  content: url('img/checkbox_checked.png');
}

label input[type="checkbox"] {
  display: none;
}

label:has(input[type="radio"])::before {
  content: url('img/option_empty.png');
  position: relative;
  top: 2px;
}

label:has(input[type="radio"]:checked)::before {
  content: url('img/option_filled.png');
}

label input[type="radio"] {
  display: none;
}

.blog-post {
  margin: 5em 8em;
}

.blog-post:first-child {
  margin-top: 3em;
}

.blog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-header .blog-title {
  flex: 1;
  margin: 0;
  padding: 4px 8px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-header .blog-title h2 {
  margin: 0;
  color: var(--color-black);
}

.blog-header .blog-date {
  flex: 0 0 64px;
  width: 64px;
  height: 64px;
}

.home-header {
  text-align: center;
}

.avatar-container {
  text-align: center;
  margin-bottom: 10px;
}

.avatar {
  image-rendering: smooth;
  max-width: 100%;
}

.icon-listing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}

.icon-listing .icon {
  flex: 0 0 150px;
  text-align: center;
}

.icon-listing .icon a {
  text-decoration: none;
}

.icon-listing .icon a:visited {
  color: var(--color-blue);
}

.meta {
  font-size: 14px;
  color: var(--color-light-grey);
}

.narrow-screen-dock {
  display: none;
}

@media (width <= 1000px) {
  #content-window {
    margin-top: 80px;
  }

  #content-window .window-content {
    max-height: calc(100dvh - 120px);
  }

  .menu .submenu,
  .submenu .subsubmenu {
    position: absolute;
    left: 0;
    top: 100%;
  }

  .wide-screen-dock {
    display: none;
  }

  .narrow-screen-dock {
    display: block;
  }

  .narrow-screen-dock > summary {
    display: block;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}